{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>

 <p style="color:white">Since 1999, Internet Marketing Ninjas has mastered the art of creating expert content that goes viral, earns trusted links, and ranks at the top of Google. Looking to transform your content marketing strategy? 
 Learn how our Ninja team can help by scheduling a FREE consultation today.</p>

 <p style="color:white">Since 1999, Internet Marketing Ninjas has mastered the art of creating expert content that goes viral, earns trusted links, and ranks at the top of Google. Looking to transform your content marketing strategy? 
 Learn how our Ninja team can help by scheduling a FREE consultation today.</p>

</div>

{% endblock content %}
