{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
    <link rel="stylesheet" href=" {% static 'core/css/bootstrap.css' %}" />
    <link rel="stylesheet" href=" {% static 'core/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    <title></title>
    <body style="background-color:rgb(75,74,74)">

    <div class="container-fluid bg-dark">

    {% include 'blog/navbar.html' %}

    </div>
    <div class="container">
       <div class="row">
         <div class="col-sm-12">
            {% block mgs %}
            {% endblock mgs %}
         </div>
        </div>

        <div class="row">
        {% block side %}
        {% endblock side %}

        {% block content %}
        {% endblock content %}
        </div>
    </div>



    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    </body>
    </html>